.jumbotron{
	background-color: #033936;
	color: black;
	margin-top: 40px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: #033936;
	margin-bottom: 0px;
}
.card-product{
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
}
.btn-add{
	width: 100%;
	border-radius: 0px;
}
.footer-addres-icon{
	padding-right:10px;
}
.space-icon{
	padding-right:10px;
}
